name: easy_recycle_flutter
version: 0.1.0
publish_to: 'none'

environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  provider: ^6.1.2
  shared_preferences: ^2.3.2
  intl: 0.20.2
  image_picker: ^1.1.2
  file_picker: ^8.1.2
  http: ^1.2.2
  url_launcher: ^6.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  generate: true
  uses-material-design: true
  assets:
    - lib/l10n/arb/app_de.arb
    - lib/l10n/arb/app_tr.arb
    - lib/l10n/arb/app_en.arb
